#jogo{
    width:603px;
    height:600px;
    border:solid 3px;
}
 
.linha{
    height:200px;
    border-bottom:solid 1px;
}
 
.casa{
    width:200px;
    height:100%;
    border-right:solid 1px;
    float:left;
}

#casa1 img{
    width: 100%;
}
#casa2 img{
    width: 100%;
}

body{
    display: flex;
    align-content: center;
}

.botaoX{
    width: 40%;
    height: 40%;
    background-color: red;
    font-size: 50pt;
    border: 10%;
    cursor: pointer;
}

.botaoO{
    background-color: aquamarine;
    width: 40%;
    height: 40%;
    font-size: 50pt;
}

.casa{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#casa1,#casa3,#casa5,#casa7,#casa9{
    background-color: palevioletred;
}
#casa2,#casa4,#casa6,#casa8{
    background-color: yellow;
}